html {
	box-sizing: border-box;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}


:root {
	--primary-text-color: #212121;
	--primary-blue-color: #2196f3;
	--primary-white-color: #ffffff;
	--p-text: #757575;
}

body {
	background-color: var(--primary-white-color);
	color: var(--primary-text-color);
	font-family: Roboto, sans-serif;
	letter-spacing: 0.03em;
	font-size: 14px;
}

.accent {
	color: var(--primary-blue-color);
}
.logo-header {
	font-family: Raleway, cursive;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.2;
	color: #000000;
	text-decoration: none;
}

ul {
	list-style: none;
}
/* Site-nav */
.site-nav .link {
	color: var(--primary-text-color);
	font-weight: 500;
	line-height: 1.14;
	letter-spacing: 0.02em;
	text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
	color: var(--primary-blue-color);
}
.site-nav .link.current {
	color: var(--primary-blue-color);
}
.contacts-list .link {
	color: var(--p-text);
	font-weight: 500;
	line-height: 1.14;
	letter-spacing: 0.02em;
	text-decoration: none;
}
.contacts-list .link:hover,
.contacts-list .link:focus {
	color: var(--primary-blue-color);
}
/* Hero */
.hero {
	background-color: #2f303a;
}
.hero-title {
	color: var(--primary-white-color);
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;
}
.hero-btn {
	color: var(--primary-white-color);
	background-color: var(--primary-blue-color);
	border: var(--primary-blue-color);
	font-weight: 700;
	font-size: 16px;
	line-height: 1.8;
	letter-spacing: 0.06em;
	display: flex;
	align-items: center;
	cursor: pointer;
	font-family: inherit;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
}
/* Section */

.section-title {
	color: var(--primary-text-color);
	font-weight: 700;
	font-size: 36px;
	line-height: 1.16;
	text-align: center;
}
.visually-hidden {
	position: absolute;
	white-space: nowrap;
	width: 1px;
	height: 1px;
	overflow: hidden;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	margin: -1px;
}

/* Features */
.features-list .features-title {
	color: var(--primary-text-color);
	font-weight: 700;
	line-height: 1.14;
	text-transform: uppercase;
}
.features-list .features-text {
	color: var(--p-text);
	line-height: 1.7;
}
.team {
	background-color: #f5f4fa;
}
.team-list .team-item {
	background-color: var(--primary-white-color);
}
.team-list .subject {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.18;
}
.team-list .desc {
	color: var(--p-text);
	font-size: 16px;
	line-height: 1.18;
}

/* Footer */
.footer {
	background-color: #2f303a;
}
.logo-footer {
	font-family: Raleway, cursive;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.2;
	color: var(--primary-white-color);
	text-decoration: none;
}
.contacts-item .address {
	color: var(--primary-white-color);
	text-decoration: none;
	font-style: normal;
}
.contacts-item .link {
	color: rgba(255, 255, 255, 0.6);
	text-decoration: none;
	font-style: normal;
}
.contacts-item .address:hover,
.contacts-item .address:focus,
.contacts-item .link:hover,
.contacts-item .link:focus {
	color: var(--primary-blue-color);
}

/* Portfolio */
.filter-list .filter-drop {
	color: var(--primary-text-color);
	background-color: #f5f4fa;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.6;
	cursor: pointer;
	font-family: inherit;
}

.filter-list .filter-drop:hover,
.filter-list .filter-drop:focus {
	color: var(--primary-white-color);
	background-color: var(--primary-blue-color);
}

.portfolio-container .portfolio-title {
	color: var(--primary-text-color);
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
}
.portfolio-container .portfolio-descr {
	color: var(--p-text);
	font-size: 16px;
	line-height: 1.8;
}
